*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  background-color: #f1f1f1 !important; }

.hide {
  display: none !important;
  visibility: hidden !important; }

.button__primary {
  background-color: #fff;
  font-size: 1.4rem;
  color: #ff9f1c;
  height: 3.5rem;
  border-radius: 2rem;
  transition: all .3s;
  font-weight: bold;
  border: none; }
  .button__primary:hover {
    background-color: #F25119;
    color: #fff;
    transform: scale(1.1);
    letter-spacing: 1px; }
  .button__primary:active {
    transform: scale(1); }

.input__primary {
  padding-left: 1.5rem;
  font-size: 1.4rem;
  height: 3.5rem;
  border-radius: 1rem;
  border: none; }
  .input__primary:focus {
    outline-color: #ffbf69; }
  .input__primary:active {
    border: 2px solid #ffbf69; }

.login-register {
  min-height: 100vh; }
  @media (min-width: 36em) {
    .login-register {
      min-height: 50rem; } }
  .login-register .login--container, .login-register .register--container {
    min-height: 50rem; }
    @media (min-width: 36em) {
      .login-register .login--container, .login-register .register--container {
        border-radius: 2rem; } }
    .login-register .login--container label, .login-register .register--container label {
      font-size: 1.8rem;
      color: #fff;
      text-align: start;
      width: 100%;
      font-weight: bold; }
  .login-register .login-switch, .login-register .register-switch {
    font-size: 1.8rem;
    color: #ff9f1c;
    font-weight: bold;
    transition: all .3s; }
    .login-register .login-switch:hover, .login-register .register-switch:hover {
      cursor: pointer;
      letter-spacing: 2px; }
  .login-register .login-switch__small, .login-register .register-switch__small {
    font-weight: bold;
    font-size: 1.4rem;
    color: #fff; }
  .login-register .register--container {
    background-color: #fff; }
    .login-register .register--container .register-sticker {
      width: 40%; }
      @media (min-width: 62em) {
        .login-register .register--container .register-sticker {
          width: 35%; } }
      @media (min-width: 75em) {
        .login-register .register--container .register-sticker {
          width: 30%; } }
      @media (min-width: 87.5em) {
        .login-register .register--container .register-sticker {
          width: 25%; } }
    .login-register .register--container .register-form {
      justify-content: center;
      display: flex; }
    @media (min-width: 48em) {
      .login-register .register--container {
        border-radius: 2rem 0 0 2rem; } }
  .login-register .login--container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    @media (min-width: 48em) {
      .login-register .login--container {
        border-radius: 0 2rem 2rem 0; } }
    .login-register .login--container .login-sticker {
      width: 40%; }
      @media (min-width: 48em) {
        .login-register .login--container .login-sticker {
          display: block;
          width: 55%; } }
      @media (min-width: 75em) {
        .login-register .login--container .login-sticker {
          width: 40%; } }
    .login-register .login--container .login-form {
      justify-content: center;
      display: flex; }

.login-background--gradient {
  background: #ff9f1c;
  background: linear-gradient(90deg, #ff9f1c 0%, #ff8000 50%); }

.register-background--gradient {
  background: #ff8000;
  background: linear-gradient(90deg, #ff8000 0%, #ff9f1c 50%); }

.image-big {
  width: 95% !important; }
  @media (min-width: 62em) {
    .image-big {
      width: 75% !important; } }
  @media (min-width: 75em) {
    .image-big {
      width: 65% !important; } }
  @media (min-width: 87.5em) {
    .image-big {
      width: 55% !important; } }
