// Colors
$color-black: #000;
$color-white: #fff;

$color-primary: #ff9f1c;
$color-primary__dark: #F25119;
$color-primary__light: #ffbf69;

$color-secondary: #2ec4b6;
$color-secondary__light: #cbf3f0;

// Shades



// Spacing
$space__small: 1.5rem;
$space__normal: 2rem;
$space__medium: 2.5rem;
$space__big: 3.5rem;