// Colors
$color-black: #000;
$color-white: #fff;

$color-primary: #ff9f1c;
$color-primary__dark: #F25119;
$color-primary__light: #ffbf69;

$color-secondary: #2ec4b6;
$color-secondary--light: #cbf3f0;

// Shades
$color-gray--dark: rgb(39, 39, 39);
$color-gray--medium: rgb(131, 131, 131);
$color-gray--light: rgb(242, 242, 242);


// Spacing
$space--small: 1.5rem;
$space--normal: 2rem;
$space--medium: 2.5rem;
$space--big: 3.5rem;