.login-register{
    min-height: 100vh;
    
      @include respond(sm){
        min-height: 50rem;
       }
    
    .login--container, .register--container{
        min-height: 50rem;

        @include respond(sm){
            border-radius: 2rem;
        }

        label{
            font-size: $font__medium;
            color: $color-white;
            text-align: start;
            width: 100%;
            font-weight: bold;
        }
    }

    .login-switch, .register-switch{
        font-size: $font__medium;
        color: $color-primary;
        font-weight: bold;
        transition: all .3s;

        &:hover{
            cursor: pointer;
            letter-spacing: 2px;
        }
       }

    .login-switch__small, .register-switch__small{
        font-weight: bold;
        font-size: 1.4rem;
        color: $color-white;
     }  

    .register--container{
    background-color: $color-white;


        .register-sticker{
            width: 40%;

            @include respond(lg){
                width: 35%;
               }

            @include respond(bg){
                width: 30%;
               }
            @include respond(xl){
                width: 25%;
               }
        }

    .register-form{
        justify-content: center;
        display: flex;
    }

        @include respond(md){
            border-radius: 2rem 0 0 2rem;
          }
    }

    .login--container{
        background-color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include respond(md){
            border-radius: 0 2rem 2rem 0;
          }

          .login-sticker{
            width: 40%;

            @include respond(md){
               display: block;
               width: 55%;
              }

            @include respond(bg){
                width: 40%;
               }
        }

        .login-form{
            justify-content: center;
            display: flex;
         }
    }
}


// Classes for manipulating in JS     

.login-background--gradient{
    background: rgb(255,159,28);
    background: linear-gradient(90deg, rgba(255,159,28,1) 0%, rgba(255,128,0,1) 50%);
}

.register-background--gradient{
    background: rgb(255,128,0);
    background: linear-gradient(90deg, rgba(255,128,0,1) 0%, rgba(255,159,28,1) 50%);
}

.image-big{
    width: 95% !important; 

    @include respond(lg){
        width: 75% !important; 
      }

      @include respond(bg){
        width: 65% !important; 
      }

      @include respond(xl){
        width: 55% !important; 
      }
}
           