.input--primary{
  padding-left: $space--small;
    height: $space--big;
    border-radius: 1rem;
    border: none;
    font-family: inherit;
    font-size: $font--medium;

    &:focus{
     outline-color: $color-primary--light;
    }
    &:active{
      border: 2px solid $color-primary--light;
    }
};


