.input__primary{
  padding-left: $space__small;
    font-size: $font__normal;
    height: $space__big;
    border-radius: 1rem;
    border: none;

    &:focus{
     outline-color: $color-primary__light;
    }
    &:active{
      border: 2px solid $color-primary__light;
    }
};