.modal-p{
    background: rgb(255,159,28);
    background: linear-gradient(90deg, rgba(255,159,28,1) 0%, rgba(255,128,0,1) 50%);

   
        background-color: $color-primary;
        min-height: 100vh;
        
        @include respond(sm){
            border-radius: 2rem;
            min-height: 70%;
        }
        
        @include respond(sm){
            min-height: 60%;
        }

        label{
            color: $color-gray--dark;
            font-size: $font--medium;
            
        }
}