// 
.img-big {
    height: 290px !important;
    width: 290px !important;
  }
  


.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.bot {
  align-self: flex-end !important;
  background-color: yellow;
}


